body {
  background: rgb(229, 206, 247);
  margin-top: -10px;
  font-family: "Hanoble", sans-serif;
  src: url(Hanoble.otf);
  color: rgb(24, 3, 51);
}

h1 {
  font-size: 38px;
  font-weight: 500;
  text-decoration: wavy;
  text-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  color: black;
  text-align: center;
  background: white;
  border: 1px solid rgb(234, 205, 244);
  border-radius: 25px;
  box-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  max-width: 44%;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 40px;
  padding: 8px 4.5px 6px;
}

select {
  background: white;
  text-align: center;
  width: 100%;
  color: #913dc9;
  border: 1px solid rgb(234, 205, 244);
  border-radius: 10px;
  box-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  margin-bottom: 35px;
  padding: 8px;
  font-family: "Victor Mono", sans-serif;
  src: url(VictorMono-Regular.otf);
  font-size: 15px;
  font-weight: 550;
}

hr {
  margin-bottom: 50px;
  border: 0;
  height: 0.5px;
  background-image: linear-gradient(
    to right,
    rgb(227, 226, 226),
    rgb(255, 255, 255),
    rgba(224, 224, 224, 0.826)
  );
  width: 85%;
}

a {
  color: #913dc9;
}

a:hover {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: black;
}

footer {
  font-family: "Victor Mono", sans-serif;
  src: url(VictorMono-Regular.otf);
  text-align: center;
  font-size: 12px;
  color: #913dc9;
}

.container {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 45px 45px;
  border: 1px solid rgb(234, 205, 244);
  border-radius: 20px;
  box-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  background: url("https://i.pinimg.com/originals/95/c3/86/95c3860d485683c4e5b3f5bedbbba02d.gif");
  background-position: center;
  background-size: 218%;
  background-repeat: no-repeat;
}

.default-cities {
  background: white;
  font-family: "Victor Mono", sans-serif;
  src: url(VictorMono-Regular.otf);
  text-align: left;
  color: rgb(24, 3, 51);
  width: 95%;
  border: 1px solid rgb(234, 205, 244);
  border-radius: 15px;
  box-shadow: rgba(146, 93, 187, 0.705) 5px 5px 5px 0px;
  margin: 25px 0;
  padding: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.date {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #913dc9;
  font-weight: 500;
}

.time {
  font-size: 30px;
  font-weight: bold;
  padding-top: 40px;
  padding-right: 5px;
}

.time small {
  font-size: 20px;
  vertical-align: auto;
}

.all-cities-link {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  color: rgb(24, 3, 51);
  font-size: 18px;
  background: white;
  border: 1px solid rgb(234, 205, 244);
  border-radius: 15px;
  box-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  max-width: 25%;
}

.all-cities-link:hover {
  color: black;
  transition: all 200ms ease-in-out;
}

.bottom-line {
  margin-top: 50px;
  margin-bottom: 45px;
}

.current-location {
  margin-left: 4px;
  text-align: center;
  padding: 5px 5px 5px;
  font-size: 18px;
  background: white;
  border: 1px solid rgb(234, 205, 244);
  border-radius: 15px;
  box-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  max-width: 45%;
  margin-bottom: 30px;
}
